.checkbox__item:not(:last-child) {
  margin-bottom: 13px;
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 46px;
  color: @black;
  cursor: pointer;
}

.checkbox__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  outline: 1px solid @light-grey-700;
  outline-offset: -1px;
  content: "";
}

.checkbox__input:checked + .checkbox__label::after {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 18px;
  height: 14px;
  background-image: url("../img/tick-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.checkbox__label:hover {
  opacity: 60%;
  transition: all .3s ease-out;
}

.checkbox__label:active {
  opacity: 30%;
  transition: all .3s ease-out;
}

@media (min-width: @tablet-width) {
  .checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
  }

  .checkbox__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .checkbox__label {
    min-height: 40px;
    padding-left: 59px;
  }

  .checkbox__label::before {
    width: 40px;
    height: 40px;
  }

  .checkbox__input:checked + .checkbox__label::after {
    top: 13px;
    left: 11px;
  }
}

@media (min-width: @desktop-width) {
  .checkbox {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }

  .checkbox__item:not(:last-child) {
    margin-bottom: 0;
  }
}
