.example {
  position: relative;
  padding-top: 27px;
  padding-bottom: 25px;
}

.example::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: @light-grey-100;
  content: "";
  z-index: -1;
}

.example__card {
  margin-bottom: 44px;
}

.example__title {
  margin: 0;
  margin-bottom: 33px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.example__description {
  margin-bottom: 25px;
  color: @dark-grey-100;
}
