.extra {
  position: relative;
  margin-bottom: 35px;
}

.extra::before {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 2px solid @green;
  z-index: -1;
  content: "";
}

.extra__title {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.extra__title--text {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.extra__title--text::before {
  position: absolute;
  left: -20px;
  right: -20px;
  height: 100%;
  background-color: @white;
  z-index: -1;
  content: "";
}

.extra__list {
  position: relative;
  margin-bottom: 39px;
}

.extra__list::before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid @light-grey-700;
  content: "";
}

.extra__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 18px;
}

.extra__item::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid @light-grey-700;
  content: "";
}

.extra__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @dark-grey-200;
}

.extra__table {
  width: 100%;
  margin-bottom: 15px;
  line-height: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  color: @dark-grey-100;
}

.catalog__extra-attribute {
  padding: 0;
}

.catalog__extra-value {
  padding: 0;
  text-align: right;
}

.extra__button {
  width: 100%;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 20px;
}

.extra__promo {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 289px;
  padding-top: 186px;
  padding-bottom: 43px;
  padding-left: 58px;
  padding-right: 58px;
  background-image: url("../img/gift-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}

.extra__promo::before {
  position: absolute;
  top: 58px;
  left: calc(50% - 40px);
  width: 78px;
  height: 80px;
  background-image: url("../img/gift-icon.svg");
  background-repeat: no-repeat;
  content: "";
}

.extra__promo-text {
  width: 161px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: @white;
}

@media (min-width: @tablet-width) {
  .extra {
    margin-bottom: 76px;
  }

  .extra::before {
    top: 22px;
  }

  .extra__title {
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }

  .extra__title--text::before {
    left: -40px;
    right: -40px;
  }

  .extra__wrapper {
    max-width: 708px;
    margin: 0 auto;
  }

  .extra__list {
    margin-bottom: 69px;
  }

  .extra__list::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid @light-grey-700;
  }

  .extra__item {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 38px;
    padding-right: 38px;
  }

  .extra__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
  }

  .extra__subtitle {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  .extra__table {
    flex: 1 1 auto;
    width: auto;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__extra-attribute {
    box-sizing: border-box;
    text-align: right;
  }

  .catalog__extra-value {
    width: 90px;
  }

  .extra__promo {
    display: flex;
    justify-content: flex-end;
    min-height: 200px;
    padding-top: 71px;
    padding-bottom: 69px;
    padding-right: 124px;
    background-image: url("../img/gift-background-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-size: cover;
  }

  .extra__promo::before {
    top: 57px;
    left: 78px;
    width: 80px;
    height: 83px;
  }

  .extra__promo-text {
    margin: 0;
    text-align: left;
  }
}
