.form {
  margin-bottom: 32px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-100;
}

.form__subtitle {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: @black;
}

.form__subtitle--owner-contacts {
  margin-bottom: 35px;
}

.form__subtitle--comment {
  margin-bottom: 38px;
}

.form__subtitle--add-info {
  margin-bottom: 34px;
}

.form__item--cat-description {
  margin-bottom: 24px;
}

.form__item--program-type {
  margin-bottom: 20px;
}

.form__item--owner-contacts {
  margin-bottom: 24px;
}

.form__item--comment {
  margin-bottom: 23px;
}

.form__item--add-info {
  margin-bottom: 34px;
}
