.form {
  margin-bottom: 32px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-100;
}

.form__subtitle {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  color: @black;
}

.form__subtitle--text {
  position: relative;
  display: inline-block;
  z-index: 0;
}

.form__subtitle--text::before {
  position: absolute;
  left: -20px;
  right: -20px;
  height: 100%;
  background-color: @white;
  z-index: -1;
  content: "";
}

.form__subtitle--owner-contacts {
  margin-bottom: 35px;
}

.form__subtitle--comment {
  margin-bottom: 38px;
}

.form__subtitle--add-info {
  margin-bottom: 34px;
}

.form__item--cat-description {
  margin-bottom: 24px;
}

.form__item--program-type {
  position: relative;
  padding-top: 23px;
  padding-bottom: 20px;
  margin-bottom: 26px;
}

.form__item--program-type::before {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  height: 100%;
  border-top: 1px solid @light-grey-600;
  border-bottom: 1px solid @light-grey-600;
  content: "";
}

.form__item--owner-contacts {
  margin-bottom: 24px;
}

.form__item--comment {
  margin-bottom: 23px;
}

.form__item--add-info {
  margin-bottom: 34px;
}

.form__item--owner-contacts,
.form__item--comment,
.form__item--add-info {
  position: relative;
}

.form__item--owner-contacts::after,
.form__item--comment::after,
.form__item--add-info::after {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 2px solid @green;
  z-index: -1;
  content: "";
}

.form__textarea {
  display: block;
  padding: 9px 12px 10px 15px;
  width: 100%;
  min-height: 150px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @dark-grey-100;
  border: 0;
  outline: 1px solid @light-grey-400;
  outline-offset: -1px;
  box-sizing: border-box;
  resize: none;
}

.form__footer {
  display: flex;
  flex-direction: column;
}

.form__button {
  margin-bottom: 21px;
  padding: 10px 10px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.form__note {
  display: block;
  text-align: center;
  font-family: "Arial";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: @black;
}

.form__textarea:hover {
  outline: 1px solid @light-grey-700;
  outline-offset: -1px;
  transition: all .3s ease-in-out;
}

.form__textarea:focus {
  outline: 2px solid @dark-grey-100;
  outline-offset: -2px;
  transition: all .1s ease-out;
}

.form__button:hover {
  background-color: @dark-green;
  transition: all .3s ease-out;
}

.form__button:active {
  background-color: @dark-green;
  color: rgba(@white, 0.3);
  transition: all .3s ease-out;
}

.form__textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: @dark-grey-100;
}

.form__textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: @dark-grey-100;
  opacity: 1;
}

.form__textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: @dark-grey-100;
  opacity: 1;
}

.form__textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: @dark-grey-100;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 72px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__subtitle {
    font-size: 36px;
    line-height: 36px;
  }

  .form__subtitle--text::before {
    left: -40px;
    right: -40px;
  }

  .form__subtitle--text-wrap {
    display: none;
  }

  .form__subtitle--owner-contacts {
    margin-bottom: 76px;
  }

  .form__subtitle--comment {
    margin-bottom: 76px;
  }

  .form__subtitle--add-info {
    margin-bottom: 57px;
  }

  .form__item--cat-description {
    margin-bottom: 72px;
  }

  .form__item--program-type {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 75px;
  }

  .form__item--program-type::before {
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid @light-grey-600;
  }

  .form__item--owner-contacts {
    margin-bottom: 65px;
  }

  .form__item--comment {
    margin-bottom: 65px;
  }

  .form__item--add-info {
    margin-bottom: 20px;
  }

  .form__item--owner-contacts::after,
  .form__item--comment::after,
  .form__item--add-info::after {
    top: 22px;
  }

  .form__textarea {
    padding: 10px 19px 10px 19px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__footer {
    flex-direction: row;
    align-items: center;
  }

  .form__button {
    margin-bottom: 0;
    margin-right: 61px;
    padding: 13px 13px;
    width: 282px;
    font-size: 20px;
    line-height: 26px;
  }

  .form__note {
    font-size: 16px;
  }
}

@media (min-width: @desktop-width) {
  .form {
    margin-bottom: 82px;
  }

  .form__top-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0 auto;
    margin-bottom: 69px;
  }

  .form__item--cat-description {
    margin-bottom: 0;
  }

  .form__item--program-type {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;
    padding-right: 28px;
    margin-bottom: 0;
  }

  .form__item--owner-contacts {
    margin-bottom: 69px;
  }

  .form__item--comment {
    margin-bottom: 67px;
  }

  .form__item--add-info {
    margin-bottom: 61px;
  }

  .form__item--wrapper {
    margin: 0 auto;
  }

  .form__owner-contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  .form__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin: 0 auto;
  }

  .form__button {
    margin-right: 0;
    width: 100%;
  }

  .form__note {
    text-align: left;
  }
}
