.page-header {
  display: grid;
  grid-template-columns: 38px 1fr 38px;
  grid-template-rows: min-content auto;
  padding-top: 12px;
  padding-bottom: 17px;
}

.page-header__logo {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
}

.page-header__logo--picture {
  width: 33px;
  height: 38px;
}

.page-header__logo--text {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}
