.radio__item:not(:last-child) {
  margin-bottom: 13px;
}

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;
  color: @dark-grey-200;
  cursor: pointer;
}

.radio__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  outline: 1px solid @light-grey-700;
  outline-offset: -1px;
  border-radius: 50%;
  content: "";
}

.radio__input:checked + .radio__label::after {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: @green;
  border-radius: 50%;
  content: "";
}

@media (min-width: @tablet-width) {
  .radio__label {
    min-height: 40px;
    padding-left: 60px;
  }

  .radio__label::before {
    width: 40px;
    height: 40px;
  }

  .radio__input:checked + .radio__label::after {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
  }
}
