.radio__item:not(:last-child) {
  margin-bottom: 13px;
}

.radio__label {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;
  color: @dark-grey-200;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.radio__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 0 1px @light-grey-700;
  border-radius: 50%;
  content: "";
}

.radio__input:checked + .radio__label::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 8px solid @white;
  background-color: @green;
  border-radius: 50%;
  content: "";
}

.radio__label:hover {
  opacity: 60%;
  transition: all .3s ease-out;
}

.radio__label:active {
  opacity: 30%;
  transition: all .3s ease-out;
}

@media (min-width: @tablet-width) {
  .radio__label {
    min-height: 40px;
    padding-left: 60px;
  }

  .radio__label::before {
    width: 40px;
    height: 40px;
  }

  .radio__input:checked + .radio__label::before {
    width: 40px;
    height: 40px;
    border: 11px solid @white;
  }
}
