.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.social-list__icon--vkontakte {
  width: 23px;
  height: 16px;
  fill: @dark-grey;
}

.social-list__icon--instagram {
  width: 16px;
  height: 16px;
  fill: @dark-grey;
}

.social-list__icon--facebook {
  width: 22px;
  height: 22px;
  stroke: @dark-grey;
  fill: @light-grey;
}

.social-list__link:hover .social-list__icon--vkontakte,
.social-list__link:hover .social-list__icon--instagram {
  fill: @green;
  transition: all .3s ease-out;
}

.social-list__link:hover .social-list__icon--facebook {
  stroke: @green;
  transition: all .3s ease-out;
}

.social-list__link:focus .social-list__icon {
  opacity: 30%;
  transition: all .1s ease-out;
}

@media (min-width: @tablet-width) {
  .social-list__icon--vkontakte {
    width: 30px;
    height: 22px;
  }

  .social-list__icon--instagram {
    width: 23px;
    height: 23px;
  }

  .social-list__icon--facebook {
    width: 28px;
    height: 33px;
  }
}
